.Flex1 {
  display: flex;
  flex-direction: row;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  justify-content: center;
  margin-top: 25px;
  align-items: center;
  text-decoration: none;
}
a {
  text-decoration: none;
}

.Flex1> div {
  border: 2px solid #000;
  background-color: rgba(240, 248, 255, 0.288);
  cursor: pointer;
  text-decoration: none;
   border-radius: 10px;
  margin: 10px
}

.Flex1>div:hover{
  background-color: black;
  border-color: white;
  color: white;
   box-shadow:
    0 1px 0 #000,
    0 -1px 0 #000,
    1px 0 0 #000,
    -1px 0 0 #000;
  transition: transform 0.5s ease-in-out;
  transform: scale(1.1);
}
.Flex1 a{
  color: #000;
}
.Flex1>:hover a{
 color: white;
}
h1{
  font-size: 50px;
}
.flexbox2{
  display: flex;
  flex-direction: row;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  justify-content: center;
  margin-top: 25px;
  align-items: center;
  text-decoration: none;
  position: relative;
}
.sourceimg{
  width: 500px;
  height: auto;
  border: 2px solid black;
  border-radius: 10px;
  margin: 10px;
  display: block;
}
.sourceimg:hover{
  box-shadow:
    0 1px 0 #000,
    0 -1px 0 #000,
    1px 0 0 #000,
    -1px 0 0 #000;
  transition: transform 0.5s ease-in-out;
  transform: scale(1.1);
}
ul{
  margin-top: 0%;
}